body {
   
}
.contenedor{
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    background: #273b47;
    color: white;
    align-items: center;
    position: relative;
    
}
.portada{
    display: flex;
}

.col1 {
    width: 70%;
}

.col2{
    width: 30%;
    position: relative;
    transition: .5s;
}

.logo {
    width: 40%;
}

.menu, .baner {
    width: 30%;
}
.menu{
    position: absolute;
    /* right: 0; */
    height: 50px;
    background:  purple;
    transition: .5s;
    left: 70%;
}
.baner{
    transition: .5s;
    position: relative;
    left: -30%;
    top: 0;
    height: 50px;
    background: lightgray;
    color: black;
    
}

@media screen and (max-width: 768px) {
    .baner{
        left: 0%;
        top: 50px;
        color: black;
    }
    .col2{
        top: 50px;
    }
}

@media screen and (max-width: 480px) {
    .menu{
        left: 0;
        top: 50px;
    }
}